
# Python virtual env
.venv/
venv/
ENV/
env/

# __pycache__
__pycache__/
*.pyc
*.pyo
*.pyd

# Bytecode- und Cache-Dateien
__pycache__/
*.pyc
*.pyo

# GPT4All / lokale KI-Modelle (riesige Dateien!)
*.gguf
/models/
KI_models/



# Betriebssystem-Spezifisch
.DS_Store
Thumbs.db

# IDE-spezifisch (optional)
.vscode/
.idea/
